.container {
    background-color: mediumpurple;
    display: flex;
    justify-content: space-evenly;
}
.link1 {
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
}
.prd-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.box {
    max-width: 300px;
    box-shadow: 0 0 10px #666660;
    text-align: center;
    margin: 20px;
    margin-left: -15px;
    border-radius: 10px;
}
.prd-container :hover {
    background-color: lightgray;
}
.prd-item {
    text-align: center;
}
.home-img1 {
    max-width: 300px;
    box-shadow: 0 0 10px #b49e9c;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}
.sld-text {
    max-width: 300px;
    max-height: 30px;
    padding-bottom: 20px;
    margin-left: 20px;
    background-color: lightslategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.sld-img {
    margin-left: 20px;
}